<div class="priv_col_wrapper">
  <div class="sel_col mrg_bot_zero">
    <h4>Whom the to do list is to be created for?</h4>
  </div>
  <div class="custom_checbox_list admin_tic_chkbox">
    <ul>
      <li>
        <input type="checkbox" name="todo_assignee" class="type_check" id="department_todo" value="departments" />
        <label for="department_todo">For Departments</label>
      </li>
      <li>
        <input type="checkbox" name="todo_assignee" class="type_check" id="users_todo" value="users"/>
        <label for="users_todo">For Users</label>
      </li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  var selectedTypeBox = null;
  $(".type_check").click(function() {
    selectedTypeBox = this.id;

    $(".type_check").each(function() {
      if ( this.id == selectedTypeBox ){
        this.checked = true;
        $('#daycare_id').val($(this).val());
      }else{
        this.checked = false;
      };
    });
  });
  
  $('.type_check').click(function(){
    val = $(this).val();
    $.ajax({
      type: 'GET',
      data: {todo_assignee: val, from: 'todo'},
      url: '/admin/todos/todo_assignee',
      success: function (data) {
      }
    });
  });
</script>