<div class="mid_pages">
  <div class="c_row_1">
    <span class="edit_btn">Edit</span>
    <span class="menu_icons"></span>
  </div>
  <div class="c_row_1 c_row_2">
    <div class="search_col">
      <input name="" type="text" class="search_input" value="Quick Search">
      <input name="" type="button" class="search_btn">
    </div>
  </div>
  <div class="c_row_1 c_row_3">
    <div class="c_list_1">
      <h4>Environment Day</h4>
      <div class="c_list_1_in">
        <%=image_tag 'e_img1.jpg', width: '158', height: '121' %>
        <a class="c_edit" href="#">Edit</a>
        <a class="c_edit c_delete" href="#">Delete</a>
      </div>
    </div>
    <div class="c_list_1 c_list_2">
      <h4>Mother's Day</h4>
      <div class="c_list_1_in c_list_1_in1">
        <%=image_tag 'e_img2.jpg', width: '158', height: '121' %>
        <a class="c_edit c_edit1" href="#">Edit</a>
        <a class="c_edit c_delete c_delete1" href="#">Delete</a>
      </div>
    </div>
    <div class="c_list_1">
      <h4>Father's Day</h4>
      <div class="c_list_1_in">
        <%=image_tag 'e_img3.jpg', width: '158', height: '121' %>
        <a class="c_edit" href="#">Edit</a>
        <a class="c_edit c_delete" href="#">Delete</a>
      </div>
    </div>
    <div class="c_list_1 c_list_2 mar_rg">
      <h4>Worker's Day</h4>
      <div class="c_list_1_in c_list_1_in1">
        <%=image_tag 'e_img4.jpg', width: '158', height: '121' %>
        <a class="c_edit c_edit1" href="#">Edit</a>
        <a class="c_edit c_delete c_delete1" href="#">Delete</a>
      </div>
    </div>
    <!-- <div class="ye_wrap"></div>
    <input name="" type="button" class="submit_btn" value="Submit"> -->
  </div>
</div>