<div class="hgt_auto">
  <div class="header_top_row">
    <span class="back_btn"><a href="/">&nbsp;</a></span>
    <span class="menu_icons">
      <div class="submenu_toggle">
        <ul>
          <li><a href="/">Home</a></li>
          <%if current_user%>
            <li><%=link_to 'Logout', destroy_user_session_path, method: :delete%></li>
          <%end%>
        </ul>
      </div>
    </span>
  </div>
</div>

<div class="mid_wrapp padd34">
  <div class="priv_col_wrapper">
    <div class="priv_col_wrapper">
      <div class="d_input_wrap">
        <%=form_tag admin_fetch_customer_types_path(path: 'admin_todos'), method: :get, remote: true do %>
          <ul>
            <li>
              <a href="javascript:;">Country</a>
              <span class="blue_norway"><%=select_tag(:country, options_for_select(countries), class: 'country_select')%></span>
            </li>
            <li>
              <a href="javascript:;">Language</a>
              <span class="blue_norway"><%=select_tag(:language,options_for_select(languages), class: 'language_select', id: 'select_country')%></span>
            </li>
          </ul>
        <%end%>
      </div>
    </div>

    <div id="show_customer_type"></div>
    <div id="show_customer"></div>
    <div id="show_user_types"></div>
  </div>
</div>
