<div class="mid_wrapp padd34">
  <div class="d_input_wrap padd_zero">
    <%=form_tag import_admin_customers_path, multipart: true do |f|%>
      <div class="append_div">
        <div class="input_field_col">
          <%= select_tag :customer_type_id, options_from_collection_for_select(CustomerType.all, 'id', 'name'), prompt: 'Select Customer Type', class: 'daycare_select', required: true %>
          <%= file_field_tag :file, {required: "true"} %>
        </div>
      </div>
      <%=submit_tag 'Import', class: 'submit_btn mar_b'%>
    <%end%>
  </div>
</div>