<div class="mid_wrapp padd34">
  <div class="cong_col">
    <h4>CONGRATUALTIONS !</h4>
      <p>You Have Now Created Your Daycare Profile.</p>
      <span class="invite">Invite Daycare Workers and <br/> Parents to this App for  <br/> START BENEFITTING  <br/> for this imidiately?
      </span>
      <div class="btns_col">
        <a class="yes" href="#">Yes</a>
        <a class="yes no" href="#">No</a>
      </div>
  </div>
</div>