<div class="mid_wrapp padd34">
  <div class="cong_col">
    <h4>Congratulations</h4>
    <p>Invite to this applicaton Daycare Worker</p>
    <%=form_tag invite_workers_daycare_path(@daycare), method: :post do%>
      <div class="cong_input_wrap mr_up">
        <ol>
          <li><input name="" type="text" placeholder="Daycare worker email"></li>
          <li><input name="" type="text" placeholder="Daycare worker email"></li>
          <li><input name="" type="text" placeholder="Daycare worker email"></li>
          <li><input name="" type="text" placeholder="Daycare worker email"></li>
          <li><input name="" type="text" placeholder="Daycare worker email"></li>
          <li><input name="" type="text" placeholder="Daycare worker email"></li>
          <li><input name="" type="text" placeholder="Daycare worker email"></li>
        </ol>
      </div>
      <a class="add_files add_more_email_worker" href="#">Add more...</a>

      <div class="btns_col">
        <input name="" type="button" class="submit_btn send_btn" value="Send Invitation">
      </div>
    <%end%>
  </div>               
</div>