<div class="mid_wrapp padd34">
  <div class="cong_col">
    <h4>Congratulations</h4>
    <p>Invite to this applicaton Daycare Parents</p>

    <div class="cong_input_wrap mr_up">
      <ol>
        <li><input name="" type="text" placeholder="Daycare parent email"></li>
        <li><input name="" type="text" placeholder="Daycare parent email"></li>
        <li><input name="" type="text" placeholder="Daycare parent email"></li>
        <li><input name="" type="text" placeholder="Daycare parent email"></li>
        <li><input name="" type="text" placeholder="Daycare parent email"></li>
        <li><input name="" type="text" placeholder="Daycare parent email"></li>
        <li><input name="" type="text" placeholder="Daycare parent email"></li> 
      </ol>
    </div>
    <a class="add_files add_more_email_parents" href="#">Add more...</a>
    <div class="btns_col">
      <input name="" type="button" class="submit_btn send_btn" value="Send Invitation">
    </div>
  </div>                  
</div>