<h2>Congratulations!</h2>
<p>You have invited to <%=@daycare.name%> as a daycare worker. Please click on the below link to signup to Daycare</p>
<p><%=link_to @daycare.name, select_department_daycare_workers_url(cid: @daycare.id)%></p>