<div id="create_daycare_or_manager_signup_api">
  <h4>Daycare Manager Signup or Create Daycare API</h4>
  <table border="1">
    <tr>
      <td>URL</td><td>api/v1/signup</td>
    </tr>
    <tr>
      <td>Http Method</td><td>Post</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>Allow the user to register a new account</td>
    </tr>
    <tr>
      <td rowspan="15">REQUEST PARAMETERS</td>
      <td>daycare[name] &nbsp&nbsp:-&nbsp&nbsp           Name of Daycare</td>
    </tr>
    <tr>
      <td>daycare[address_line1] &nbsp&nbsp:-&nbsp&nbsp    Address of Daycare</td>
    </tr>
    <tr>
      <td>daycare[post_code] &nbsp&nbsp:-&nbsp&nbsp        Postal code of Daycare</td>
    </tr>
    <tr>
      <td>daycare[country] &nbsp&nbsp:-&nbsp&nbsp          Country Code of Daycare</td>
    </tr>
    <tr>
      <td>daycare[telephone] &nbsp&nbsp:-&nbsp&nbsp        Telephone of Daycare</td>
    </tr>
     <tr>
      <td>daycare[customer_type_id] &nbsp&nbsp:-&nbsp&nbsp  Id of coustomer type for Daycare</td>
    </tr>
     <tr>
      <td>daycare[language] &nbsp&nbsp:-&nbsp&nbsp  Language code for Daycare</td>
    </tr>
     <tr>
      <td>daycare[manager_attributes][name] &nbsp&nbsp:-&nbsp&nbsp  Name of Daycare Manager</td>
    </tr>
     <tr>
      <td>daycare[manager_attributes][email] &nbsp&nbsp:-&nbsp&nbsp  Email of Daycare Manager</td>
    </tr>
    <tr>
      <td>daycare[manager_attributes][password] &nbsp&nbsp:-&nbsp&nbsp  password for Daycare Manager</td>
    </tr>
    <tr>
      <td>daycare[manager_attributes][password_confirmation] &nbsp&nbsp:-&nbsp&nbsp  macth of password</td>
    </tr>
    <tr>
      <td>daycare[manager_attributes][role] &nbsp&nbsp:-&nbsp&nbsp  Role of Daycare Manager (i.e., "manager")</td>
    </tr>
    <tr>
      <td>device_token &nbsp&nbsp:-&nbsp&nbsp  device token of user's device</td>
    </tr>
    <tr>
      <td>device_type &nbsp&nbsp:-&nbsp&nbsp  type of user device</td>
    </tr>
    <tr>
      <td>Example Request JSON  &nbsp&nbsp:-&nbsp&nbsp   {"daycare"=>
                                      {"name"=>"TestDaycare",
                                       "address_line1"=>"TestDayCare Address Line 1",
                                       "post_code"=>"123456",
                                       "country"=>"IN",
                                       "telephone"=>"9999999999",
                                       "customer_type_id"=>"1",
                                       "language"=>"EN",
                                       "manager_attributes"=>
                                        {"name"=>"TestDaycareManager",
                                         "email"=>"testdaycaremanager@test1.com",
                                         "password"=>"11111111",
                                         "password_confirmation"=>"11111111",
                                         "role"=>"manager"}},
                                     "device_token"=>"HDlruJh1mpC8le6N24QKGQ",
                                     "device_type"=>"ios",
                                     }

      </td>
    </tr>
    <tr>
      <td>Example Successful Response JSON</td>
      <td>{result: "success" message: "User creation successful" api_key: "HDlruJh1mpC8le6N24QKGQ" }</td>
    </tr>
    <tr>
      <td rowspan=2>Example ERROR Response JSON</td>
      <td>Duplicate email &nbsp&nbsp:-&nbsp&nbsp {result: "failed" error: true message: "Email has already been taken" }</td>
    </tr>
    <tr>
      <td>Password Mismatch &nbsp&nbsp:-&nbsp&nbsp {result: "failed" error: true message: "Password confirmation doesn't match Password" } </td>
    </tr>
  </table>

  <br>
  
  <table border="1">
    <tr>
      <th colspan=3>Return Values</th>
    </tr>
    <tr>
      <td rowspan=11>Hash</td>
    </tr>
    <tr>
      <td>result</td>
      <td>success/failed</td>
    </tr>
    <tr>
      <td>message</td>
      <td>displays message</td>
    </tr>
    <tr>
      <td>error</td>
      <td>true if any error</td>
    </tr>
    <tr>
      <td>api_key</td>
      <td>api_key of user</td>
    </tr>
  </table>
</div>
<%= link_to "Go To Top", "#top" %>