<div id="create_daycare_or_manager_signup_api">
  <div class="row doc_head1 mrg_top">
    <h1>Daycare Manager Signup or Create Daycare API</h1>
  </div>
  <div class="row mrg_top">
    Daycare Manager Signup or Create Daycare API<br>
    <b>Link:   </b><%=@host%>/api/v1/signup<br>
    <b>HTTP TYPE:   </b>POST
  </div>

  <div class="row mrg_top">
    <h3>Description</h3>
  </div>
  <div class="row">
    <p>Allow the user to register a new account</p>
  </div>

  <div class="row mrg_top">
    <h3>Request Parameters</h3>
  </div>
  <div class="row ">
    <table border="1" width="100%">
      <head>
        <th>Field</th>
        <th>Data Type</th>
        <th>Note</th>
        <th>Required / Optional</th>

      </head>
      <body>
        <tr>
          <td>daycare[name]</td>
          <td>String</td>
          <td>Name of Daycare</td>
          <td>1</td>
        </tr>
        <tr>
          <td>daycare[address_line1]</td>
          <td>String</td>
          <td>Address of Daycare</td>
          <td>0</td>
        </tr>
        <tr>
          <td>daycare[post_code]</td>
          <td>String</td>
          <td>Postal code of Daycare</td>
          <td>0</td>
        </tr>
        <tr>
          <td>daycare[country]</td>
          <td>String</td>
          <td>Country Code of Daycare</td>
          <td>1</td>
        </tr>
        <tr>
          <td>daycare[telephone]</td>
          <td>String</td>
          <td>Telephone of Daycare</td>
          <td>0</td>
        </tr>
         <tr>
          <td>daycare[customer_type_id]</td>
          <td>Integer</td>
          <td>Id of coustomer type for Daycare</td>
          <td>1</td>
        </tr>
         <tr>
          <td>daycare[language]</td>
          <td>String</td>
          <td>Language code for Daycare</td>
          <td>1</td>
        </tr>
         <tr>
          <td>daycare[manager_attributes][name]</td>
          <td>String</td>
          <td>Name of Daycare Manager</td>
          <td>1</td>
        </tr>
         <tr>
          <td>daycare[manager_attributes][email]</td>
          <td>String</td>
          <td>Email of Daycare Manager</td>
          <td>1</td>
        </tr>
        <tr>
          <td>daycare[manager_attributes][password]</td>
          <td>String</td>
          <td>password for Daycare Manager</td>
          <td>1</td>
        </tr>
        <tr>
          <td>daycare[manager_attributes][password_confirmation]</td>
          <td>String</td>
          <td>macth of password</td>
          <td>1</td>
        </tr>
        <tr>
          <td>daycare[manager_attributes][role]</td>
          <td>String</td>
          <td>Role of Daycare Manager (i.e., "manager")</td>
          <td>1</td>
        </tr>
        <tr>
          <td>device_token</td>
          <td>String</td>
          <td>device token of user's device</td>
          <td>1</td>
        </tr>
        <tr>
          <td>device_type</td>
          <td>String</td>
          <td>type of user device (ios or android)</td>
          <td>1</td>
        </tr>
      </body>
    </table>
  </div>


  <div class="row mrg_top">
    <h3>Request</h3>
  </div>
  <div class="row ">
    <table border="1" width="100%">
      <head>
        <th>S.No</th>
        <th>Example of Request JSON</th>
      </head>
      <body>
        <tr>
          <th>1 </th>
          <td>{"daycare"=>
                                        {"name"=>"TestDaycare",
                                         "address_line1"=>"TestDayCare Address Line 1",
                                         "post_code"=>"123456",
                                         "country"=>"IN",
                                         "telephone"=>"9999999999",
                                         "customer_type_id"=>"1",
                                         "language"=>"EN",
                                         "manager_attributes"=>
                                          {"name"=>"TestDaycareManager",
                                           "email"=>"testdaycaremanager@test1.com",
                                           "password"=>"11111111",
                                           "password_confirmation"=>"11111111",
                                           "role"=>"manager"}},
                                       "device_token"=>"HDlruJh3mpC8le6N24QKGQ",
                                       "device_type"=>"ios",
                                       }</td>
        </tr>
      </body>
    </table>
  </div>


  <div class="row mrg_top">
    <h3>Returns</h3>
  </div>
  <div class="row">
    <table border="1" width="100%">
      <thead>
        <th>Action</th>
        <th>Http Status Code</th>
        <th>Note</th>
        <th>Example</th>
      </thead>
      <body>
        <tr>
          <th>Successful Response JSON </th>
          <td>200</td>
          <td></td>
          <td>{result: "success" message: "User creation successful" api_key: "HDlruJh3mpC8le6N24QKGQ" }</td>
        </tr>
        <tr>
          <th  rowspan="2">ERROR Response JSON</th>
          <td>200</td>
          <td>Duplicate email </td>
          <td>{result: "failed" error: true message: "Email has already been taken" }</td>
        </tr>
        <tr>
          <td>200</td>
          <td>Password Mismatch</td>
          <td>{result: "failed" error: true message: "Password confirmation doesn't match Password" }</td>
        </tr>
      </body>
    </table>
    <%= link_to "Go To Top", "#top" %>
  </div>
</div>