<div id="create_super_admin_api">
  <h4>Super Admin Signup API</h4>
  <table border="1" width="100%">
    <tr>
      <td>URL</td><td>NOT AVAILBLE</td>
    </tr>
  </table>
</div>
<%= link_to "Go To Top", "#top" %>
