<div id="parent_signup_api">
  <div class="row doc_head1 mrg_top">
    <h1>Parent Signup API</h1>
  </div>
  <div class="row mrg_top">
    Parent Signup API<br>
    <b>Link:   </b><%=@host%>/api/v1/signup/<br>
    <b>HTTP TYPE:   </b>POST
  </div>

  <div class="row mrg_top">
    <h3>Description</h3>
  </div>
  <div class="row">
    <p>Allow the user to register a new account</p>
  </div>

  <div class="row mrg_top">
    <h3>Request Parameters</h3>
  </div>
  <div class="row ">
    <table border="1" width="100%">
      <head>
        <th>Field</th>
        <th>Data Type</th>
        <th>Note</th>
        <th>Required / Optional</th>

      </head>
      <body>
        <tr>
          <td>user[daycare_id]</td>
          <td>Integer</td>
          <td>Id of Daycare</td>
          <td>1</td>
        </tr>
        <tr>
          <td>user[name]</td>
          <td>String</td>
          <td>Name of Daycare Parent User.</td>
          <td>1</td>
        </tr>
        <tr>
          <td>user[email]</td>
          <td>String</td>
          <td>Email of Daycare Parent.</td>
          <td>1</td>
        </tr>
        <tr>
          <td>user[password]</td>
          <td>String</td>
          <td>Password of Daycare Parent.</td>
          <td>1</td>
        </tr>
        <tr>
          <td>user[password_confirmation]</td>
          <td>String</td>
          <td>Match of password</td>
          <td>1</td>
        </tr>
        <tr>
          <td>user[role]</td>
          <td>String</td>
          <td>Role of Daycare Parent (i.e., "parent")</td>
          <td>1</td>
        </tr>
        <tr>
          <td>device_token</td>
          <td>String</td>
          <td>Device token of parent's device</td>
          <td>1</td>
        </tr>
        <tr>
          <td>device_type</td>
          <td>String</td>
          <td>type of parent device</td>
          <td>1</td>
        </tr>
      </body>
    </table>
  </div>


  <div class="row mrg_top">
    <h3>Request</h3>
  </div>
  <div class="row ">
    <table border="1" width="100%">
      <head>
        <th>S.No</th>
        <th>Example of Request JSON</th>
      </head>
      <body>
        <tr>
          <th>1 </th>
          <td>{ "user"=>
                                                {"name"=>"TestDaycareParent",
                                                 "email"=>"testdaycareparent@test1.com",
                                                 "password"=>"11111111",
                                                 "password_confirmation"=>"11111111",
                                                 "role"=>"parent"}
                                                },
                                               "device_token"=>"ssashasjhjkashdkjahskdjhaskjdkjah",
                                               "device_type"=>"ios",
                                              }</td>
        </tr>
      </body>
    </table>
  </div>


  <div class="row mrg_top">
    <h3>Returns</h3>
  </div>
  <div class="row">
    <table border="1" width="100%">
      <thead>
        <th>Action</th>
        <th>Http Status Code</th>
        <th>Note</th>
        <th>Example</th>
      </thead>
      <body>
        <tr>
          <th>Successful Response JSON </th>
          <td>200</td>
          <td></td>
          <td>{result: "success" message: "User creation successful" api_key: "HDlruJh1mpC8le6N24QKGQ" }</td>
        </tr>
        <tr>
          <th  rowspan="2">ERROR Response JSON</th>
          <td>200</td>
          <td>Duplicate email</td>
          <td>{result: "failed" error: true message: "Email has already been taken" }</td>
        </tr>
        <tr>
          <td>200</td>
          <td>Password Mismatch</td>
          <td>{result: "failed" error: true message: "Password confirmation doesn't match Password" }</td>
        </tr>
      </body>
    </table>
    <%= link_to "Go To Top", "#top" %>
  </div>
</div>

