<div id="sample_api">
  <div class="row doc_head1 mrg_top">
    <h1>Sample</h1>
  </div>
  <div class="row mrg_top">
    Sample<br>
    <b>Link:   </b><%=@host%>/api/v1/sample_api<br>
    <b>HTTP TYPE:   </b>Sample_type
  </div>

  <div class="row mrg_top">
    <h3>Description</h3>
  </div>
  <div class="row">
    <p>Sample Description</p>
  </div>

  <div class="row mrg_top">
    <h3>Request Header Parameters</h3>
  </div>
  <div class="row ">
    <table border="1" width="100%">
      <head>
        <th>Field</th>
        <th>Data Type</th>
        <th>Note</th>
        <th>Required / Optional</th>

      </head>
      <body>
        <tr>
          <td>Sample Field</td>
          <td>Sample Data Type</td>
          <td>Sample Note</td>
          <td>Sample option</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </body>
    </table>
  </div>


  <div class="row mrg_top">
    <h3>Request Parameters</h3>
  </div>
  <div class="row ">
    <table border="1" width="100%">
      <head>
        <th>Field</th>
        <th>Data Type</th>
        <th>Note</th>
        <th>Required / Optional</th>

      </head>
      <body>
        <tr>
          <td>Sample Field</td>
          <td>Sample Data Type</td>
          <td>Sample Note</td>
          <td>Sample option</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </body>
    </table>
  </div>


  <div class="row mrg_top">
    <h3>Request</h3>
  </div>
  <div class="row ">
    <table border="1" width="100%">
      <head>
        <th>S.No</th>
        <th>Example of Request JSON</th>
      </head>
      <body>
        <tr>
          <th>1 </th>
          <td></td>
        </tr>
      </body>
    </table>
  </div>


  <div class="row mrg_top">
    <h3>Returns</h3>
  </div>
  <div class="row">
    <table border="1" width="100%">
      <thead>
        <th>Action</th>
        <th>Http Status Code</th>
        <th>Note</th>
        <th>Example</th>
      </thead>
      <body>
        <tr>
          <th>Successful Response JSON </th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th  rowspan="2">ERROR Response JSON</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </body>
    </table>
    <%= link_to "Go To Top", "#top" %>
  </div>
</div>