<div id="share_todo_with_departments_api">
  <h4>SHARE TODO WITH DEPARTMENTS API</h4>
  <h4>In Progress</h4>
  <!-- <table border="1">
    <tr>
      <td>URL</td><td>/api/v1/todos/:id/share_with_departments</td>
    </tr>
    <tr>
      <td>Http Method</td><td>Post</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>Allow the registered user to login</td>
    </tr>

    <tr>
      <td rowspan="2">REQUEST HEADER</td>
      <td>email:-  email of user</td>
    </tr>
    <tr>
      <td>password:-  api_key of user</td>
    </tr>

    <tr>
      <td rowspan="3">REQUEST PARAMETERS</td>
      <td>id:- Id of todo </td>
    </tr>
    <tr>
      <td>department_ids:- Array id departments Ids to whom todo has to be shared</td>
    </tr>
    <tr>
      <td>Example Request JSON :-  {
                                    "department_ids"=>[10, 12],
                                    "id"=>"42"
                                    }
      </td>
    </tr>
    <tr>
      <td>Example Successful Response JSON</td>
      <td>
        {
          result: "success"
          message: Todo has been shared with these departments successfully!
        }
      </td>
    </tr>
    <tr>
      <td rowspan=1>Example ERROR Response JSON</td>
      <td>delgatability:-  {
                              result: "failed"
                              error: true
                              message: "XYZ"
                            }
      </td>
    </tr>
  </table>

  <br>

  <table border="1">
    <tr>
      <th colspan=3>Return Values</th>
    </tr>
    <tr>
      <td rowspan=6>Hash</td>
    </tr>
    <tr>
      <td>result</td>
      <td>success/failed</td>
    </tr>
    <tr>
      <td>message</td>
      <td>displays message</td>
    </tr>
    <tr>
      <td>error</td>
      <td>true if any error</td>
    </tr>

  </table> -->
</div>

<%= link_to "Go To Top", "#top" %>