<div id="worker_signup_api">
  <h4>Worker Signup API</h4>
  <table border="1">
    <tr>
      <td>URL</td><td>api/v1/signup</td>
    </tr>
    <tr>
      <td>Http Method</td><td>Post</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>Allow the user to register a new account</td>
    </tr>
    <tr>
      <td rowspan="9">REQUEST PARAMETERS</td>
      <td>user[daycare_id]&nbsp&nbsp:-&nbsp&nbsp Id of Daycare</td>
    </tr>
    <tr>
      <td>user[name]&nbsp&nbsp:-&nbsp&nbsp Name of Daycare Worker</td>
    </tr>
    <tr>
      <td>user[email]&nbsp&nbsp:-&nbsp&nbsp Email of Daycare Worker</td>
    </tr>
    <tr>
      <td>user[password]&nbsp&nbsp:-&nbsp&nbsp password of Daycare Worker</td>
    </tr>
    <tr>
      <td>user[password_confirmation]&nbsp&nbsp:-&nbsp&nbsp macth of password</td>
    </tr>
    <tr>
      <td>user[role]&nbsp&nbsp:-&nbsp&nbsp Role of Daycare Worker (i.e., "worker")</td>
    </tr>
    <tr>
      <td>device_token&nbsp&nbsp:-&nbsp&nbsp device token of Worker's device</td>
    </tr>
    <tr>
      <td>device_type&nbsp&nbsp:-&nbsp&nbsp type of Worker device</td>
    </tr>
    <tr>
      <td>
        Example Request JSON &nbsp&nbsp:-&nbsp&nbsp { "user"=>
                                                {"name"=>"TestDaycareWorker",
                                                 "email"=>"testdaycareWorker@test1.com",
                                                 "password"=>"11111111",
                                                 "password_confirmation"=>"11111111",
                                                 "role"=>"Worker"}
                                                },
                                               "device_token"=>"ssashasjhjkashdkjahskdjhaskjdkjah",
                                               "device_type"=>"ios",
                                              }

      </td>
    </tr>

    <tr>
      <td>Example Successful Response JSON</td>
      <td>{result: "success" message: "User creation successful" api_key: "HDlruJh1mpC8le6N24QKGQ" }</td>
    </tr>
    <tr>
      <td rowspan=2>Example ERROR Response JSON</td>
      <td>Duplicate email&nbsp&nbsp:-&nbsp&nbsp{result: "failed" error: true message: "Email has already been taken" }</td>
    </tr>
    <tr>
      <td>Password Mismatch&nbsp&nbsp:-&nbsp&nbsp{result: "failed" error: true message: "Password confirmation doesn't match Password" } </td>
    </tr>
  </table>

  <br>
  
  <table border="1">
    <tr>
      <th colspan=3>Return Values</th>
    </tr>
    <tr>
      <td rowspan=11>Hash</td>
    </tr>
    <tr>
      <td>result</td>
      <td>success/failed</td>
    </tr>
    <tr>
      <td>message</td>
      <td>displays message</td>
    </tr>
    <tr>
      <td>error</td>
      <td>true if any error</td>
    </tr>
    <tr>
      <td>api_key</td>
      <td>api_key of user</td>
    </tr>
  </table>
</div>

<%= link_to "Go To Top", "#top" %>