<div class="main-container">
	<div class="container">
		<div id="top">
			
			<div class="col-lg-12">
				<%=render 'api_list'%>
			</div>

			<div class="col-lg-12">
				<%=render 'api/docs/create_daycare_or_manager_signup_api_doc'%>
			</div>
		</div>
	</div>
</div>