<h1>Congratulations!</h1>
<p>You have been assigned as a daycare parent in the <%=@daycare.name%></p>
<p>
	Click <%= link_to('here', set_parent_password_password_url(@parent, email: @parent.email))	%> to set your account password.
</p>
