<h1>Congratulations!</h1>
<p>You have been assigned as a daycare worker in the <%=@daycare.name%></p>
<p>
	Click <%= link_to('here', set_worker_password_password_url(@worker, email: @worker.email))	%> to set your account password.
</p>
