<div id="show_user_types"></div>
<div id="show_users"></div>
<!-- <div class="green_btn_wrapper" style="display:none" id="todo_next_btn">
  <%#=f.submit 'Next', class: 'submit_btn'%>
</div> -->
<div style="display:none" id="todo_next_btn">
  <%= render 'todos/form', f: f%>
</div>