<div class="hgt_auto">
  <div class="header_top_row">
    <span class="back_btn"><a href="/">&nbsp;</a></span>
    <span class="menu_icons">
      <div class="submenu_toggle">
        <ul>
          <li><a href="/">Home</a></li>
          <%if current_user%>
            <li><%=link_to 'Logout', destroy_user_session_path, method: :delete%></li>
          <%end%>
        </ul>
      </div>
    </span>
  </div>
</div>
<div class="mid_wrapp padd34">
  <div class="d_input_wrap">
  
    <ul>
      <li><%=link_to 'Department', share_with_departments_todo_path(@todo)%></li>
      <li><%=link_to 'Daycare worker', share_with_workers_todo_path(@todo)%></li>
      <li><%=link_to 'Daycare Parent', share_with_parents_todo_path(@todo)%></li>
    </ul>
  </div>
</div>