<div class="mid_wrapp padd34">
  <div class="d_input_wrap">
  
    <ul>
      <li><%=link_to 'Department', todo_departments_todo_path(@todo)%></li>
      <li><%=link_to 'Daycare worker', "#"%></li>
      <li><%=link_to 'Daycare Parent', "#"%></li>
    </ul>

  </div>
</div>