@import 'bootstrap/glyphicons';
.daycare_select{
	width: 100%;
  height: 50px;
  font-size: 20px;
  padding: 8px;
  background-color: #fff;
  border-bittom: 1px solid #ccc;
  margin-bottom: 8px;
  border-radius: 9px;
}
.submenu_toggle.green_submenu{
  background: #90c43e;
}
.submenu_toggle.green_submenu ul li a:hover {
  color: #618923;
}
.custom_checbox_list.check_privilege ul li [type="checkbox"]:checked + label:after{
  font-size: 70px;
}
.ser_heading.mar_0{
  margin-bottom: 0;
  padding: 10px
}
.country_select.daycare_country{
  width: 50%;
  float: right;
  background-color: #fff;
  border: none;
}
.country_select.daycare_country#daycare_language{
  width: 100%;
}
.todo_select{
  width: 97%;
  height: 50px;
  font-size: 20px;
  padding: 8px;
  background-color: #fff;
  margin-bottom: 8px;
  border: 0;
  border-radius: 0;
  color: #aaa;
}