<div class="priv_col_wrapper">
  <div class="sel_col mrg_bot_zero">
    <h4>User Type</h4>
    <a class="select_txt select_user_type" href="javascript:;">Select All</a>
  </div>
  <div class="custom_checbox_list admin_tic_chkbox">
    <ul>
      <li>
        <input type="checkbox" class="user_type_common" name="user_type[]" id="manager_type" value="Manager" />
        <label for="manager_type">Daycare Manager</label>
      </li>
      <li>
        <input type="checkbox" class="user_type_common" name="user_type[]" id="worker_type" value="Worker" />
        <label for="worker_type">Daycare Workers</label>
      </li>
      <li>
        <input type="checkbox" class="user_type_common" name="user_type[]" id="parents_type" value="Parent" />
        <label for="parents_type">Daycare Parents</label>
      </li>
      <li>
        <input type="checkbox" class="user_type_common" name="user_type[]" id="partner_type" value="Partner" />
        <label for="partner_type">Daycare Partner</label>
      </li>
    </ul>
  </div>
</div>
<script type="text/javascript">
  $('.select_user_type').click(function(){
    $('.user_type_common').click();
  });
  $('.user_type_common').click(function(){
    $('#user_type_').val($(this).val());
  });
</script>