<div class="priv_col_wrapper">
  <div class="sel_col mrg_bot_zero">
    <h4>Functionality</h4>
  </div>
  <div class="d_input_wrap">
    <ul>
      <li><a href="javascript:;" class="functionality_link" data-name="todo">Todo List</a></li>
        <li><a href="javascript:;" class="functionality_link" data-name="allergy">Allergy</a></li>
        <li><a href="javascript:;" class="functionality_link" data-name="medication">Medication</a></li>
        <li><a href="javascript:;" class="functionality_link" data-name="notice_board">Notice Board</a></li>
        <li><a href="javascript:;" class="functionality_link" data-name="attendence">Attendance</a></li>
        <li><a href="javascript:;" class="functionality_link" data-name="calender">Calender</a></li>
        <li><a href="javascript:;" class="functionality_link" data-name="intolerence">Intolerance</a></li>
    </ul>
  </div>
</div>