<div class="priv_col_wrapper">
  <div class="sel_col mrg_bot_zero">
    <h4>Functionality</h4>
  </div>
  <div class="d_input_wrap">
    <ul>
      <li><a href="javascript:;" class="functionality_link" data-name="Todo">Todo List</a></li>
      <li><a href="javascript:;" class="functionality_link" data-name="Allergy">Allergy</a></li>
      <li><a href="javascript:;" class="functionality_link" data-name="Medication">Medication</a></li>
      <li><a href="javascript:;" class="functionality_link" data-name="NoticeBoard">Notice Board</a></li>
      <li><a href="javascript:;" class="functionality_link" data-name="Attendence">Attendance</a></li>
      <li><a href="javascript:;" class="functionality_link" data-name="Calender">Calender</a></li>
      <li><a href="javascript:;" class="functionality_link" data-name="Intolerence">Intolerance</a></li>
    </ul>
  </div>
</div>